/*
  @author     : Pipin Irwandi
  @version    : v1.0
  @date-create  : 1/15/2014
  @last-update  : 

*/



/* ===[GLOBAL STYLE]=== */
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',sans-serif;
  font-size: 12px;
  position: relative;
  overflow-x: hidden;
}
a {
  color: #033E7E;
  text-decoration: none;
}

.container {
  max-width: 960px;
}

#page {
  position: relative;
  background: #FFF;
}
.fs9 {
  font-size: 9px;
}
.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
a {
  cursor: hand;
  cursor: pointer;
}
a img {
  border: none;
}
a:hover {
  text-decoration: none;
  color: #FFD600;
}
a:focus {
  outline: none;
  outline-offset: -2px;
  color: #FFD600;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
ul,
ol {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  line-height: 20px;
}
body,
td,
th,
input,
textarea,
select,
a {
  outline: 0 none;
}
a,
a:hover,
a:focus {
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  text-decoration: none;
  padding-right: 40px;
}
.quantity input,
input[name="quantity"] {
  width: auto;
  display: inline;
  text-align: center;
}

/*===[Table]===*/
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
table.list thead td {
  background-color: transparent;
  padding: 0px 5px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
table.list tbody td {
  padding: 0px 5px;
}
table.list td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
input.large-field,
select.large-field {
  width: 300px;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form > * > * > td {
  color: #000000;
}
table.form td {
  padding: 4px;
}
table.form tr td:first-child {
  width: 150px;
}
table.radio {
  width: 100%;
  border-collapse: collapse;
}
table.radio td {
  padding: 5px;
}
table.radio td label {
  display: block;
}
table.radio tr td:first-child {
  width: 1px;
}
table.radio tr td:first-child input {
  margin-top: 1px;
}
table.radio tr.highlight:hover td {
  background: #F1FFDD;
  cursor: pointer;
}

/*===[Breadcumb]===*/
.breadcrumb {
  padding-top: 20px;
  padding-bottom: 0;
}
.breadcrumb li:last-child:before {
  color: #FFD600;
}
.breadcrumb li:last-child a {
  color: #FFD600;
}

/*===[Pagination]===*/
.pagination {
  padding-top: 8px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.pagination .links {
  float: left;
}
.pagination .links a,
.pagination .links b {
  border: 1px solid #E7E7E7;
}
.pagination .links a {
  display: inline-block;
  border-left-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: #A3A3A3;
}
.pagination .links a:hover {
  background-color: #7db641;
  color: #fff;
}
.pagination .links b {
  display: inline-block;
  border-left-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background-color: #7db641;
}
.pagination .results {
  float: right;
  padding-top: 3px;
}

/*===[Button]===*/
input.button {
  margin: 0;
  border: 0;
  height: 35px;
  padding: 0px 20px;
}
.button,
input.button {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #003366;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.button:hover,
input.button:hover {
  -webkit-box-shadow: 0 0 0 30px #FFD600 inset;
  box-shadow: 0 0 0 30px #FFD600 inset;
  color: #fff;
}
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 12px;
}
.buttons {
  background: #FFFFFF;
  border: 1px solid #CCC;
  overflow: auto;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .left {
  float: left;
  text-align: left;
}
.htabs {
  border-bottom: 1px solid #DDDDDD;
}
.htabs a {
  padding: 7px 25px 7px 25px;
  float: left;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #292929;
  margin-right: 2px;
  margin-bottom: -1px;
  display: none;
}
.htabs a.selected {
  padding-bottom: 7px;
  background: #7db641;
  color: #FFFFFF;
}
.tab-content {
  padding: 15px 0;
  margin-bottom: 15px;
  z-index: 2;
}

ul.links {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.links li {
  display: inline-block;
  margin-right: 15px;
  line-height: 1.428571429;
}
ul.links li > a span {
  font-size: 13px;
  margin-right: 10px;
}
ul.list > li {
  padding: 8px 0 8px;
}
ul.list > li ul {
  display: none;
}
ul.list > li ul > li {
  padding: 10px 0 0px 25px;
}
ul.list > li ul > li > a {
  text-decoration: none;
  display: block;
}
ul.list > li > a {
  text-decoration: none;
  text-transform: uppercase;
  background: url('../image/default/arrow-li.png') no-repeat left 3px;
  padding-left: 15px;
}
ul.list > li > a:hover,
ul.list > li > a.active {
  background-position: left -45px;
}
ul.list > li a:hover .badge,
ul.list > li a.active .badge {
  background-color: #FFD600;
}
ul.list > li a.active {
  color: #FFD600;
}
ul.list > li a.active + ul {
  display: block;
}
.required {
  color: #FF0000;
  font-weight: bold;
}
.success,
.warning,
.attention,
.information {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.success .close,
.warning .close,
.attention .close,
.information .close {
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}
.attention {
  background: #FFF5CC url('attention.png') 10px center no-repeat;
  border: 1px solid #F2DD8C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.warning {
  background: #FFD1D1 url('warning.png') 10px center no-repeat;
  border: 1px solid #F8ACAC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;
  font-family: 12px;
  display: block;
}
.error {
  display: block;
  color: #FF0000;
}
.welcome {
  margin-top: 0px;
  font-size: 11px;
  font-weight: normal;
}
.success {
  background: #EAF7D9 url('success.png') 10px center no-repeat;
  border: 1px solid #BBDF8D;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 25px;
  line-height: 31px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 20px;
  line-height: 31px;
  text-transform: uppercase;
}
h2 small {
  font-size: 12px;
}
h3 {
  font-size: 18px;
  line-height: 31px;
  text-transform: uppercase;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 15px;
  text-transform: uppercase;
}
h4 small {
  font-size: 12px;
  color: #52514d;
  display: block;
  margin-top: 2px;
}
h5 {
  font-size: 13px;
}
h5 small {
  font-size: 10px;
}
h6 {
  font-size: 12px;
  line-height: 31px;
}
button,
input,
textarea,
select {
  border: 1px solid #ccc;
}

/*===[Top Bar]===*/
#topbar {
  background: #FFD600;
  padding: 3px;
}
#topbar ul li a {
  font-size: 11px;
  color: #FFFFFF;
}
#topbar ul li:before {
  color: #aaaaaa;
}
#topbar ul li:hover a {
  color: #FFD600;
}

/*===[Header]===*/
#header {
  background: #ECECEC;
  font-family: 'Lato',sans-serif;

}
#header-main .header-wrap > div {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#header-main .inner {
  display: block !important;
  position: relative !important;
  height: 100%;
}
#header-main .inner > * {
  display: block;
  vertical-align: middle;
}
#pav-mainnav {
  margin-bottom: 2px;
  position: relative;
}
#pav-mainnav .mainnav-wrap {
  background: #003366;
}

#content {
  min-height: 400px;
  margin-bottom: 25px;
}
.content-awal{
  padding-bottom: 15px;
  background-color: #fff;
  color: #fff;
  border-bottom: 5px solid #EBEBEB;
}
}
.sidebar  [class*="col-"] {
  width: 100%;
}
#footer {
  background: #FFFFFF;
  min-height: 100px;
}
#footer:before,
#footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}
#footer .box .box-heading {
  color: #fff;
  font-size: 16px;
  padding: 0;
  background: none;
  border-bottom: none;
  border-bottom: 2px solid;
  margin-right: 10px;
}
#footer .box .box-heading span:before {
  border-bottom: none;
}
#footer .box .box-content {
  padding: 0;
}
#footer .footer-top {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #f8f8f8;
}
#footer .footer-top a {
  color: #FFD600;
}
#footer .footer-center {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #003366;
  color: #fff;
}
#footer .footer-center .box-heading span span {
  color: #fff;
}
#footer .footer-center ul, ol {
  list-style: none outside none;
  margin: 0;
  padding: 20px;
}
#footer .footer-center p {
  padding: 20px;
  font-weight: 300px;
  font-size: 12px;
}
#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}
#footer h3 {
  color: #3b3b3b;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 8px;
}
#footer .column a {
  text-decoration: none;
  color: #3b3b3b;
  -webkit-transition: padding 0.5s ease 0s;
  transition: padding 0.5s ease 0s;
}
#footer .column a:hover {
  color: #FFD600;
  padding-left: 10px;
}
#footer .column ul li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 0;
  overflow: hidden;
}
#footer .column ul li a {
  background: none;
  padding-left: 0;
  text-transform: none;
  color: #fff !important;
  font-size: 12px;
}
#powered {
  clear: both;
  background: #003366;
  padding: 20px 0;
  color: #FFFFFF;
  border-top: solid 2px #FFD600;
}
#powered a {
  color: #FFD600;
  padding-right: 0 !important;
}
#powered a:hover {
  color: #fff;
}
.banner div {
  text-align: center;
  width: 100%;
  display: none;
}
.banner div img {
  margin-bottom: 20px;
}
.box {
  margin-bottom: 17px;
}
.box .box-heading {
  background: url('../image/default/box-heading-bg.png') no-repeat left center;
  border-bottom: 2px solid #e7e7e7;
  padding: 8px 30px;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.box .box-heading span:before {
  border-bottom: 2px solid #7db641;
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 20%;
}
.box .box-heading span {
  color: #fff;
}
.box .box-heading span span {
  color: #7db641;
}
.sidebar .box .box-heading {
  background: #b39770;
  border: none;
  margin-bottom: 0;
}
.sidebar .box .box-heading span {
  color: #FFFFFF;
}
.sidebar .box .box-heading span:before {
  border-right: 24px solid transparent;
  border-top: 24px solid #7db641;
  border-bottom: none;
  position: absolute;
  top: 0;
  bottom: inherit;
  width: 24px;
}
.sidebar .box .box-heading span span {
  color: #FFFFFF;
}
.sidebar .box .box-content {
  background: #eee;
  padding: 15px;
}
.box.nopadding .box-content {
  padding: 10px 0 0;
}
.box.nopadding ul li {
  border-bottom: 1px solid #fff;
  padding-right: 20px;
  padding-left: 20px;
}
.box.nopadding ul li:last-child {
  border-bottom: none;
}
.box.highlighted .box-heading {
  background-color: #7db641;
}
.box.highlighted .box-content {
  background-color: #fafafa;
}
.box.dark {
  color: #fff;
}
.box.dark .box-heading {
  background-color: #292929;
  border-bottom: 1px solid #3f3f3f;
  position: relative;
}
.box.dark .box-heading:before {
  content: "";
  background: url('../image/default/bg-tite.png') no-repeat;
  position: absolute;
  top: 39px;
  left: 30px;
  width: 35px;
  height: 11px;
}
.box.dark .box-content {
  background-color: #2e2e2e;
}
.box.dark ul li {
  border-bottom: 1px solid #343434;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.dark ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
  text-decoration: none;
  -webkit-transition: padding 0.5s ease 0s;
  transition: padding 0.5s ease 0s;
}
.box.dark ul li a:hover {
  color: #FFD600;
  padding: 10px;
}
.box.red {
  color: #fff;
}
.box.red .box-heading {
  background-color: #b72c2c;
  border-bottom: 1px solid #c96666;
  position: relative;
}
.box.red .box-content {
  background-color: #FFD600;
}
.box.red ul li {
  border-bottom: 1px solid #c96666;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.red ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.box.red ul li a:hover {
  color: #fff;
}
.box.yellow {
  color: #fff;
}
.box.yellow .box-heading {
  background-color: #d8981a;
  border-bottom: 1px solid #e8c174;
  position: relative;
}
.box.yellow .box-content {
  background-color: #EDA81F;
}
.box.yellow ul li {
  border-bottom: 1px solid #e8c174;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.yellow ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.box.yellow ul li a:hover {
  color: #fff;
}
.box.blue {
  color: #fff;
}
.box.blue .box-heading {
  background-color: #3483bf;
  border-bottom: 1px solid #64a0ce;
  position: relative;
}
.box.blue .box-content {
  background-color: #3c92d4;
}
.box.blue ul li {
  border-bottom: 1px solid #64a0ce;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.blue ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.box.blue ul li a:hover {
  color: #fff;
}
.box.orange {
  color: #fff;
}
.box.orange .box-heading {
  background-color: #da6e3e;
  border-bottom: 1px solid #e69673;
  position: relative;
}
.box.orange .box-content {
  background-color: #e97846;
}
.box.orange ul li {
  border-bottom: 1px solid #e69673;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.orange ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.box.orange ul li a:hover {
  color: #fff;
}
.box.green {
  color: #fff;
}
.box.green .box-heading {
  background-color: #669435;
  border-bottom: 1px solid #a2cd75;
  position: relative;
}
.box.green .box-content {
  background-color: #7DB641;
}
.box.green ul li {
  border-bottom: 1px solid #a2cd75;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.green ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.box.green ul li a:hover {
  color: #fff;
}
.box.purple {
  color: #fff;
}
.box.purple .box-heading {
  background-color: #a130b9;
  border-bottom: 1px solid #cb6ddf;
  position: relative;
}
.box.purple .box-content {
  background-color: #b436ce;
}
.box.purple ul li {
  border-bottom: 1px solid #cb6ddf;
  padding-top: 7px;
  padding-bottom: 7px;
}
.box.purple ul li a {
  color: #fff;
  background: none;
  text-transform: none;
  padding-left: 0;
}
.box.purple ul li a:hover {
  color: #fff;
}
#header #phone {
  position: absolute;
  z-index: 1003;
  margin: -10px;
  margin-left: 495px;
}
#header #phone .content {
  background: #FFFFFF;
  clear: both;
  display: none;
  min-height: 150px;
  min-width: 300px;
  padding: 8px;
  position: absolute;
  right: 0;
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px #e7e7e7;
  box-shadow: 0px 2px 2px #e7e7e7;
  z-index: 20;
  moz-font-family: 'Lato',sans-serif;
}
#header #phone .heading {
  z-index: 1;
}
#header #phone .heading a {
  text-decoration: none;
}
#header #phone .heading a span {
  background: url('../image/arrow-down.png') 100% 50% no-repeat;
  padding-right: 15px;
  font-size: 13px;
  text-transform: uppercase;
}
#header #phone .heading p {
  font-size: 10px;
}
#header #phone .heading h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
}
#header #phone > span {
  font-size: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 15px;
  color: #FFFFFF;
  float: left;
  line-height: 15px;
  text-align: center;
  width: 15px;
  margin-right: 7px;
  -webkit-box-shadow: 0 0 0 3px #0084FD;
  box-shadow: 0 0 0 3px #0084FD;
  position: relative;
  z-index: 1;
  display: inline-block;
}
#header #phone > span:hover {
  color: #003366;
  color: #fff \9;
}
#header #phone > span:after {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: repeat scroll 0 0 #003366;
  left: -2px;
  padding: 2px;
  top: -2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 1;
  filter: alpha(opacity=100);
}
#header #phone > span:hover:after {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#header #phone.active .content {
  display: block;
}
#header #phone .checkout {
  text-align: right;
  clear: both;
}
#header #cart .empty {
  padding-top: 50px;
  text-align: center;
}
.mini-cart-total {
  text-align: right;
}
.mini-cart-total td {
  color: #000;
  padding: 4px;
}
.mini-cart-total table {
  border-collapse: collapse;
  display: inline-block;
  margin-bottom: 5px;
}
.mini-cart-info .quantity {
  text-align: right;
}
.mini-cart-info .name small {
  color: #666;
}
.mini-cart-info td {
  color: #000;
  vertical-align: top;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}
.mini-cart-info table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}
.mini-cart-info .image {
  width: 1px;
}
.mini-cart-info .image img {
  border: 1px solid #ddd;
  text-align: left;
}
.mini-cart-info .remove {
  text-align: right;
}
.mini-cart-info .remove img {
  cursor: pointer;
}
.mini-cart-info td.total {
  text-align: right;
  color: #FFD600;
  font-weight: bold;
}
#search {
  margin: 10px;
  position: relative;
  width: 250px;
}
#search input {
  background-color: #AFD885;
  padding: 5px 30px 5px 10px;
  border: none;
  width: 250px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
#search .button-search {
  color: #FFFFFF;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
  background: url('../img/icon-search.png') no-repeat center center scroll;
}

#content h1 {
  margin-top: 0;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
#content h1:after {
  border-bottom: 2px solid #003366;
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 10%;
}
.category-list {
  margin-top: 10px;
  margin-bottom: 20px;
}
.category-list ul {
  float: left;
  list-style: disc outside none;
  padding-left: 15px;
}
.category-list ul li {
  padding: 3px;
}
.category-info {
  position: relative;
}
.category-info .image {
  margin-bottom: 20px;
}
.category-info .description {
  margin-bottom: 20px;
}
#content .content {
  margin: 10px 0;
}

/*===Navbar===*/

.navbar-form input, .form-inline input {
  width:auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}


.navbar {
border-radius: 0;
}

.navbar-default {
  background-color: #003366;
  border-color: #003366;
}

.navbar-default .navbar-nav > li > a {
color: #FFF;
}

.navbar-default .navbar-nav > 
.active > a, 
.navbar-default .navbar-nav > 
.active > a:hover, .navbar-default 
.navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #068615;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: transparent;
}

#pav-mainnav .dropdown:hover > .dropdown-menu {
  display: block;
}
#pav-mainnav .navbar {
  border: none;
}
#pav-mainnav .navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
#pav-mainnav .navbar ul.nav  > li:hover > a {
  background: none;
  background-color: #FFD600 \9;
}
#pav-mainnav .navbar ul.nav  > li:hover > a:before {
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
#pav-mainnav .navbar ul.nav > li  > a {
  text-transform: uppercase;
  font-size: 13px;
  z-index: 0;
  overflow: hidden;
}
#pav-mainnav .navbar ul.nav > li  > a:before {
  background-color: #174A81;
  height: 100%;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 0;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

#pav-mainnav .dropdown-menu li a:hover {
  background-position: 10px -29px;
}
#pav-mainnav .navbar-inverse .navbar-nav > .open > a {
  background-color: #0B7013;
}
.pav-megamenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.pav-megamenu .mega-group .caret {
  display: none;
}
.pav-megamenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5;
}
.pav-megamenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
}
.pav-megamenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px;
}
.pav-megamenu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.pav-megamenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
}
.pav-megamenu .cols2 {
  width: 420px;
}
.pav-megamenu .cols3 {
  width: 620px;
}
.pav-megamenu .cols4 {
  width: 820px;
}
.btn-theme-primary {
  background-color: #7db641;
  border: none;
  color: #fff;
}
.btn-theme-primary:hover {
  background-color: #FFD600;
  color: #fff;
}
.text-primary-theme {
  color: #7db641;
}
.text-danger-theme {
  color: #FFD600;
}
.iconbox {
  color: #FFFFFF;
  display: block;
  float: left;
  height: 26px;
  width: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: 8px;
  font-size: 15px;
}
.iconbox:hover {
  color: #fff;
}
.iconbox i {
  padding-left: 3px;
}
.social {
  margin: 35px 0;
  overflow: hidden;
}
.social a {
  color: #fff !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.social a:hover {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.social a.pinterest {
  background-color: #f13838;
}
.social a.facebook {
  background-color: #395c8c;
}
.social a.google-plus {
  background-color: #f2532f;
}
.social a.twitter {
  background-color: #5aceef;
}
.box-services {
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  z-index: 1003;
  margin: -10px;
  margin-left: 420px;
}
.box-services .iconbox {
  font-size: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  float: left;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
  margin-right: 7px !important;
  -webkit-box-shadow: 0 0 0 3px #0084FD;
  box-shadow: 0 0 0 3px #0084FD;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.box-services .iconbox:after {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: repeat scroll 0 0 #003366;
  left: -2px;
  padding: 2px;
  top: -2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.box-services .iconbox:hover {
  color: #003366;
  color: #ffffff \9;
}
.box-services .iconbox:hover:after {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #003366;
}
.box-services .btn-info {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 3px #003366;
  box-shadow: 0 0 0 3px #003366;
}
.box-services .btn-info:after {
  background: repeat scroll 0 0 #003366;
}
.box-services .btn-info:hover {
  color: ##003366;
  color: #ffffff \9;
}
.box-home {
  font-family: 'Lato',sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  z-index: 1003;
  margin: -10px;
  margin-left: 355px;
}
.box-home .iconbox {
  font-size: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  float: left;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
  margin-right: 7px !important;
  -webkit-box-shadow: 0 0 0 3px #0084FD;
  box-shadow: 0 0 0 3px #0084FD;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.box-home .iconbox:after {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: repeat scroll 0 0 #003366;
  left: -2px;
  padding: 2px;
  top: -2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.box-home .iconbox:hover {
  color: #003366;
  color: #ffffff \9;
}
.box-home .iconbox:hover:after {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #003366;
}
.box-home .btn-info {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 3px #4c4c4c;
  box-shadow: 0 0 0 3px #4c4c4c;
}
.box-home .btn-info:after {
  background: repeat scroll 0 0 #4c4c4c;
}
.box-home .btn-info:hover {
  color: #4c4c4c;
  color: #ffffff \9;
}
.box-media .media {
  color: #939393;
  background-color: #fafafa;
  border: 1px solid #f6f6f6;
  padding: 10px;
}
.box-media .media a.pull-left {
  margin-right: -45px;
}
.box-media .media a.pull-right {
  margin-left: -45px;
}
.box-media .media .media-right {
  text-align: right;
}
.box-media .media .media-right p {
  margin-right: 0;
  margin-left: 30px;
}
.box-media .media p {
  margin-right: 30px;
}
.media-dark .media {
  background-color: #efefef;
  border: 1px solid #efefef;
}
.newsletter input,
.newsletter button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  line-height: 19px;
}
.newsletter .navbar-form {
  padding: 0;
}
#mainmenutop .navbar-toggle {
  float: left;
}
#menu-offcanvas .menu-offcanvas-inner {
  background-color: #FFD600;
}
.dropdown-menu {
  padding: 0 !important;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.dropdown-menu > li > a {
  font-weight: 400;
  color: #888888;
  text-transform: capitalize;
  font-size: 12px;
  border-bottom: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-offcanvas .dropdown .dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: block;
  float: none;
  position: relative;
  width: 100% !important;
  min-width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#menu-offcanvas .dropdown .dropdown-menu .dropdown-menu-inner {
  padding: 0 20px;
}
html,
body,
.offcanvas-container,
.offcanvas-pusher,
.offcanvas-content {
  min-height: 100%;
}
.offcanvas-content {
  overflow-y: scroll;
  background: #f3efe0;
}
.offcanvas-content,
.offcanvas-content-inner {
  position: relative;
}
.offcanvas-container {
  position: relative;
}
.offcanvas-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.offcanvas-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.offcanvas-menu-open .offcanvas-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.offcanvas-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  visibility: hidden;
  width: 300px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.offcanvas-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.offcanvas-menu-open .offcanvas-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.offcanvas-menu ul {
  margin: 0;
  padding: 0;
  lioffcanvas-style: none;
}
.offcanvas-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}
.offcanvas-menu ul.megamenu  > li > a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.offcanvas-effect-1.offcanvas-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.offcanvas-effect-1.offcanvas-menu-open .offcanvas-effect-1.offcanvas-menu {
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.offcanvas-effect-1.offcanvas-menu::after {
  display: none;
}
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-pusher {
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
.offcanvas-effect-2.offcanvas-menu {
  z-index: 1;
}
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-effect-2.offcanvas-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
.offcanvas-effect-3.offcanvas-menu {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  z-index: 1;
}
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-pusher {
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
.offcanvas-effect-5.offcanvas-menu {
  z-index: 1;
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
}
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-effect-5.offcanvas-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
@media (max-width: 768px) {
  #mainmenutop .navbar-nav {
    display: none;
  }
  .offcanvas-siderbars {
    position: relative;
  }
  .offcanvas-siderbars .offcanvas-sidebar {
    display: none;
    width: 100%;
  }
  .offcanvas-siderbars.column-left-active #oc-column-left {
    display: block;
  }
  .offcanvas-siderbars.column-right-active #oc-column-right {
    display: block;
  }
  .offcanvas-siderbars.column-left-active .main-column {
    display: none;
  }
  .offcanvas-siderbars.column-right-active .main-column {
    display: none;
  }
}
.offcanvas-sidebars-buttons {
  margin-bottom: 15px;
  overflow: hidden;
}

.logo {
  display: inline-block;
  position: relative;
  margin: -15px 0px;
  height: 75px;
}
.logo img{
  height: 90%;
}
.logo a {
  display: inline-block;
}

@media only screen and (max-width: 990px) {
  .logo {
    text-align: center;
    padding-bottom: 10px;
  }
  .navbar-inverse .navbar-toggle {
    display: block;
    float: none;
    width: 45px;
    height: 35px;
    background-color: #997747;
    border-color: #997747;
    margin-left: 10px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: #9a8362;
  }
}
@media only screen and (max-width: 749px) {
  .logo {
    display: block !important;
    margin-left: 35%;
    margin-top: 35px;
    text-align: left;
  }
  #header #cart,
  .box-services {
    display: block !important;
    margin-bottom: 20px;
    width: 190px;
  }
  .wishlist-info td,
  .wishlist-info th,
  table.compare-info td,
  table.compare-info th,
  table.pav-checkout-product td,
  table.pav-checkout-product th,
  table.pav-shop-cart td,
  table.pav-shop-cart th {
    border-right: 0 none;
    display: block !important;
    float: none !important;
    text-align: left !important;
    width: auto !important;
  }
  .wishlist-info tr td:before,
  table.pav-shop-cart tr td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    width: 50%;
  }
  .wishlist-info tr td,
  table.pav-shop-cart tr td {
    text-align: right;
    display: block;
    min-height: 20px;
    border-left: none;
    background: none;
  }
  .wishlist-info thead,
  table.pav-shop-cart thead {
    display: none;
  }
  #search {
    position: absolute;
    right: 11px;
    top: -50px;
    z-index: 1001;
    width: 200px;
  }
  #search input {
    width: 200px;
  }
  #header #cart,
  .box-services {
    margin-left: 35%;
  }
}
@media only screen and (max-width: 480px) {
  .logo,
  #header #cart,
  .box-services {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 320px) {
  .logo,
  #header #cart,
  .box-services {
    margin-left: 19%;
  }
}

.form-control:focus {
  border-color: #11BAF0;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}

.form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #292929;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.navbar-form {
  width: auto;
  border: 0;
  margin-left: 0;
  margin-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form .btn-default{
  color: #FFF;
  background-color: #003366;
  border-color: #244AA8;
  height: 31px;
  border-radius: 0;
}

.navbar-default .navbar-form .btn-default:hover{
  color: #FFF;
  background-color: #244AA8;
  border-color: #244AA8;
  height: 31px;
  border-radius: 0;
}

/*===[Page Header]===*/
.page-header {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid #e4e4e4;
  display: block;
}

.page-header h1, .page-header h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  color: #34495E;
  font-weight: 400;
  display: inline-block;
  padding: 0 10px 0 0;
}
.page-header small {
  color: #282841;
  font-weight: 600;
}

.btn-quiz {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  background: #003366;
  border: none;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  display: inline-block;
}
.btn-quiz:hover {
    background: #1766B4;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -webkit-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
.btn-quiz:focus, .btn-quiz:active {
background: #1766B4;
color: #fff;
text-shadow: 0 1px 0 rgba(0,0,0,0.1);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.15), inset 0 -1px 0 rgba(0,0,0,0.05), inset 1px 0 0 rgba(0,0,0,0.05), inset -1px 0 0 rgba(0,0,0,0.05);
-webkit-transition: background-color .05s ease-in-out;
-moz-transition: background-color .05s ease-in-out;
-o-transition: background-color .05s ease-in-out;
transition: background-color .05s ease-in-out;
}
.btn-quiz a{
  color: #fff;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 10px 10px 0px rgba(206, 206, 206, 1);
}
.carousel-inner .item img{
  width: 100%;
  height: 200px !important;
}

.carousel-inner .item h3{
  color: #003366;
  padding-left: 5%;
  font-size: 16px;
  font-weight: 200;
}

/*slider*/


.carousel-img{
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}

.carousel-img img{
  float: left;
  height: 70px !important;
}

.carousel-content{
  max-width: 170px;
  text-align: left;
  float: right;
  
  
}

.carousel-content h2{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Lato',sans-serif;
  color: #fff;
}

.carousel-content p{
  font-size: 9px;
  color: #fff;
}

.quiz{

}
.quiz h3 {
  font-size: 18px;
  line-height: 31px;
  text-transform: uppercase;
  color: #033E7E;
}

.quiz p{
  font-size: 12px;
  color: #585858;
}



/*===[Tab Quisioner]===*/
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  font-size: 12px !important;
}

.tab-pane p {
  margin: 0 0 8.5px;
  font-size: 13px;
}

.tab-pane .form-horizontal .control-label {
  text-align: left;
  font-size: 11.5px;
  font-weight: 300;
}

.tab-pane.radio label, .checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-size: 11.5px;
}

#pkerja .radio, .checkbox {
  display: block;
  min-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px !important;
  vertical-align: middle;
}

#pkerja .checkbox input {
  font-size: inherit;
  line-height: inherit;
  width: 50px !important;
}

.nav-tabs > li > a {
  margin-right: 0 !important;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 16px !important;
}

/*===[Date Pixcer]===*/
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
  background-color: #50C2EE;
  box-shadow: 0px 3px 3px 0px rgba(162, 162, 162, 0.85);
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
border: 1px solid #003366;
background: #003366;
color: #fff;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 40%;
  margin-left: -11px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
  background-color: #ddd;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

@media only screen and (max-width: 990px) {
  .carousel-indicators {
    position: absolute;
    bottom: 5px;
    right: 30%;
    left: auto;
    z-index: 15;
    width: 0;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
}

/*===[Comment]===*/

.divider {
    margin: 60px 0;
}

.comments-sec {
    float: left;
    width: 100%;
    margin: -5px 0 25px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

ol.commentlist {
    float: left;
    width: 100%;
    margin: 0;
}

ol li ol.childlist {
    float: right;
    width: 86%;
    margin: 0;
}

ul, li, ol {
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment:before {
    position: absolute;
    display: block;
    content: "";
    margin-left: 93px;
    margin-top: 25px;
    width: 15px;
    height: 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: none;
    border-top: 0;
    z-index: 1;
}

.avatar {
    padding: 10px !important;
    border-radius: 100%;
}

.avatar img {
    float: left;
    max-width: 70px;
    border-radius: 100%;
    border: 4px solid #ddd;
}


.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
    border-bottom-color: #0488cd;
}

.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
    border-style: solid;
    border-width: 1px 1px 3px;
    border-color: #ddd;
    background: #fafafa;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
    background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
    background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
    background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
    background: -o-linear-gradient(top,#f8f8f8,#fafafa);
}

.comment-des {
    float: left;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #888;
    -webkit-box-shadow: :inset 0 -1px 0 0 rgba(0,0,0,0.06);
    box-shadow: :inset 0 -1px 0 0 rgba(0,0,0,0.06);
    margin: -70px 0 0 100px;
    padding: 19px 22px 22px;
}

.comment-by {
    float: left;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 5px;
}

/*===[POST]===*/
.post-entry{
    min-height: 320px !important;
    border-bottom: 1px solid #DDD;
    padding: 10px;
}

.content-title{
  color: #868686;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

.post-content {
  padding-top: 10px;
  padding-bottom: 110px;
  font-size: 14px;
  font-weight: 300;
}

.post-image, .img-content {
  padding: 4px;
}

.item .item-inner, .post-image {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}

.post-content p{
  margin: 0 0 8.5px;
  padding-bottom: 20px;
}

/*Presentase*/

#kelulusan{
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 250px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#profesi{
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 250px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#studi{
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 250px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#gaji{
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 250px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/*Carousel Indicator*/

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  border-radius: 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 30px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 0;
}

.carousel-indicators .active {
  margin: 0;
  width: 30px;
  height: 12px;
  background-color: #003366;
  border-radius: 0;
}