
/* 
	==================
	[3. TOPBAR]
	==================
*/
.line-top{
	background: #FF9900;
	height: 6px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 10px;
}

.top-bar{
	float: right;
	font-size: 11px;
}

.top-bar ul{
	list-style-type: none;
	margin-left: 0;
}

.top-bar ul li{
	float: left;
	border-right: 1px solid #ccc;
}

.top-bar ul li:last-child,
.top-bar ul li:last-child > a{
	border-right: none;
	padding-right: 0;
}

.top-bar ul li:last-child{
	padding: 0px 0 0 10px;
	color: #888888;
}

.top-bar ul li a{
	padding: 5px 10px;
	text-transform: capitalize;
	color: #888;
}

.top-bar ul li a:hover{
	color: #F6A03D;
}

#header{
	padding: 20px 0;
}

.logo{
	float: left;
	margin-top: -20px;
}

.search-form{
	float: right;
}

.search-form form{
	margin-bottom: 0px;
}

.search-form .input-append{
	margin-right: 15px;
	padding-right: 0;
	margin-bottom: 0;
}



/* 
	==================
	[4. NAVBAR]
	==================
*/
.affix {
	top: 0;
	left:0;
	width: 100%;
	z-index: 100;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar .navbar-inner {
	-webkit-box-shadow: none;
	 -moz-box-shadow: none;
		  box-shadow: none;
}

.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner,
.navbar .navbar-inner {
	padding-right: 0;
	padding-left: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-inner {
	min-height: 45px;
	padding-right: 0;
	padding-left: 0;
	background: #3f93b9;
	background-color: #3f93b9;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .nav > li > a {
	float: none;
	padding: 12px 17px 13px;
	margin-top: 0px;
	text-transform: capitalize;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	font-size: 12px;
	border-right: 1px solid #7eadc3;
	/*border-left: 1px solid 4c87a1#7eadc3;*/
}

.navbar .nav.pull-right > li > a {
	border-left: 1px solid #7eadc3;
	border-right: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	color: #dddddd;
	text-decoration: none;
	background-color: transparent;
	transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #2a84ae;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff;
	background-color: #2a84ae;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #444444;
	border-bottom-color: #444444;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
}

.navbar .nav li.dropdown:hover > .dropdown-toggle .caret {
	border-top-color: #000000;
	border-bottom-color: #000000;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar .nav > li > .dropdown-menu:before {
	position: absolute;
	top: -14px;
}

.navbar .nav > li > .dropdown-menu:after {
	position: absolute;
	top: -12px;
}

.dropdown-menu {
	margin-top: 10px;
	background-color: #ffffff;
	border: 1px solid #666666;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.dropdown-menu  > li > a{
	font-weight: 400;
	color: #888888;
	text-transform: capitalize;
	font-size: 12px;
	border-bottom: 1px solid #dddddd;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.dropdown-menu  > li:first-child > a{
	padding-top: 6px;
}

.dropdown-menu  > li:last-child > a{
	border-bottom: none;
	padding-bottom: 6px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	color: #3f93b9;
	text-decoration: none;
	background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #3f93b9;
  text-decoration: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}


.dropdown-menu li{
	position: relative;
}

.dropdown-menu .subdropdown-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    -webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.dropdown-menu li:hover .subdropdown-menu {
    visibility: visible;
    display: block;
}

.navbar .subdropdown-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .subdropdown-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu, 
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    margin-top: -6px;
}



/*
	==================
	[5. SLIDER]
	==================
*/
#masthead{
	background: #5996b2 url(../img/bg.png) repeat center top;
	height: 200px;
}

#masthead .carousel {
	margin-bottom: 0px;
}

#masthead .carousel .container {
	position: relative;
	z-index: 3;
}

#masthead .carousel-control {
	height: 32px;
	margin-top: 0;
	font-size: 30px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: rgba(0,0,0,0.9);
	padding: 4px 0;
	border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	font-weight: 300;
	border: 0;
	z-index: 10;
}

#masthead .carousel .carousel-control.right {
	right: 15px;
	top: 145px;
	left: auto;
}

#masthead .carousel .carousel-control.left {
	right: 55px;
	top: 145px;
	left: auto;
}

#masthead .carousel .item {
	height: 200px;
}

#masthead .carousel .item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.slideimage {
	width: auto;
	height: auto;
}

#masthead .carousel-caption {
	background-color: rgba(0,0,0,0.3);
	border-radius: 0px;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	position: static;
	max-width: 300px;
	height: 160px;
	padding: 20px;
	margin: 0px 20px 0 0;
	float: right;
}

#masthead .carousel-caption h2{
	font-family: 'Open Sans', serif;
	font-weight: 600;
	margin: 0;
	font-size: 24px;
	line-height: 26px;
	color: #fff;
	text-shadow: none;
	padding-bottom: 8px;
	text-transform: capitalize;
}

#masthead .carousel-caption .lead {
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	margin-bottom: 15px;
	color: #fff;
}

#masthead .carousel-caption .btn {
	font-size: 12px;
}

#masthead .carousel-indicators li {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

#masthead .carousel-indicators .active {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 1);
}

#masthead .carousel-inner .item:nth-child(odd) > img{
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

#masthead .carousel-inner .item:nth-child(even) > img{
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

#masthead .carousel-inner .item:nth-child(odd) > .container{
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

#masthead .carousel-inner .item:nth-child(even) > .container{
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.flash-news{
	padding: 15px 20px 0;
	background: #ECF0F1;
	font-weight: 600;
	text-transform: uppercase;
}

.flash-news .carousel-control {
	height: 14px;
	width: 14px;
	margin-top: 10px;
	font-size: 24px;
	line-height: 24px;
	background: none;
	color: #BDC3C7;
	text-shadow: none;
	background-color: none;
	padding: 0 0 10px;
	border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	font-weight: 600;
	border: 0;
	z-index: 10;
	opacity: 1;
	filter: alpha(opacity=100);
}

.flash-news .carousel-control:hover,
.flash-news .carousel-control:focus {
	color: #2f96b4;
	text-decoration: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.flash-news .carousel .carousel-control.right {
	right: -8px;
	top: -15px;
	left: auto;
}

.flash-news .carousel .carousel-control.left {
	right: 5px;
	top: -15px;
	left: auto;
}



/*
	==================
	[6. CONTENT]
	==================
*/
.content-wrapper{
	background: #ffffff;
	border: 1px solid #dfdfdf;
	padding: 10px;
	-moz-box-shadow: 0px 0px 4px #e5e5e5;
	-webkit-box-shadow: 0px 0px 4px #e5e5e5;
	box-shadow: 0px 0px 4px #e5e5e5;
	position: relative;
	z-index: 2;
	border-bottom: 3px solid #e5e5e5;
}

.content-home{
	padding: 20px 0;
	/*font-size: 13px;*/
}

.content-home h3{
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

.content-home .btn{
	font-size: 12px;
}

.content-home .home-thumbnail{
	width: auto;
	max-height: 223px;
	display: table;
}

.page-header {
  	margin-top: 0;
	margin-bottom: 30px;
	padding-bottom: 0;
	border-bottom: 1px solid #e4e4e4;
	display: block;
}

.page-header h1,.page-header h2{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 24px;
	color: #34495E;
	font-weight: 400;
	display:inline-block;
	padding : 0 10px 0 0;
}

.page-header small{
	color: #282841;
	font-weight: 600;
}

.page-header h1:after, .page-header h2:after {
	background-color: #3f93b9;
	bottom: 0;
	content: "";
	margin-top: 10px;
	margin-bottom: -1px;
	display: block;
	width: 45px;
	height: 3px;
}

.page-title{
	border-bottom: 1px solid #dddddd;
	padding-bottom: 0;
}

.page-title h2{
	padding-bottom: 0;
}
/*
.thumbnails.wartafakultas li[class^="span"],
.thumbnails.wartafakultas li[class*="span"]{
	padding: 0;
	margin-bottom: 0;
}
*/
.thumbnails h3, h3{
	position: relative;
}
.thumbnails h3 small, h3 small{
	font-size: 11px;
	position: absolute;
	bottom: 5px;
	right: 0;
}

.column-posts {
	position: relative;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-left: 0px;
	min-height: 50px;
}

.column-posts .featured-post-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 50px;
	overflow: hidden;
}

.column-posts .featured-post-content{
	margin-left: 60px;
}

.column-posts .featured-post-content h5{
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 18px;
	margin-right: 10px;
	font-weight: 600;
}

.column-posts .featured-post-content small{
	font-size: 11px;
	line-height: 12px;
}

.column-posts .featured-post-content.no-img{
	margin-left: 0px;
}

.column-posts a{
	color: #3f93b9;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.column-posts a:hover{
	color: #FF6600;
	text-decoration: underline;
	transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.column-posts a.btn{
	color: #ffffff;
	text-decoration: none;
}

.column-posts a.btn:hover{
	color: #ffffff;
	text-decoration: none;
}

.column-posts i.icon-comments{
	color: #3f93b9;
	font-size: 14px;
}
/*
.post-widget .column-posts{
	padding-bottom: 5px;
}
*/
.lowongan{
	background: #F5F5F5;
	display:block;
	padding: 20px;
}

.lowongan:after{
	display: table;
	content: "";
}

.lowongan-content{
	margin-top: 20px;
}

.blog-sidebar{
	font-size: 12px;
}

.blog-sidebar .widget{
	margin-bottom: 30px;
}

.blog-sidebar .widget h3{
	margin-top: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	background: #f5f5f5;
	border-top: 1px solid #64a5c4;
	padding: 8px 15px;
	color: #444444;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.blog-sidebar .widget ul{
	list-style-type: none;
	margin-left: 3px;
}

.blog-sidebar .widget:after{
	display: table;
	content: "";
}

.blog-sidebar .widget ul > li > a:before{
	content: "\f101 ";
	font-family: FontAwesome;
	margin-left: 0;
	display: inline-block;
	width: 1.2em;
	color: #666666;
}

.blog-sidebar .widget ul > li > a{
	display: block;
	border-bottom: 1px solid #f2f2f2;
	padding: 8px 0;
}

.blog-sidebar .widget ul > li:first-child > a{
	padding-top: 0;
}



.blog-sidebar .widget.widget-list > ul > li{
	display: block;
	border-bottom: 1px solid #f2f2f2;
	padding: 8px 0;
}

.blog-sidebar .widget.widget-list > ul > li > a{
	display: inline;
	border-bottom: none;
	padding: 0;
}

.blog-sidebar .widget.widget-list > ul > li:first-child,
.blog-sidebar .widget.widget-list > ul > li:first-child > a{
	padding-top: 0;
}


.blog-sidebar .widget .featured-post-content h5{
	font-size: 12px;
	line-height: 13px;
	font-weight: 400;
}

.blog-sidebar .widget-tags:after{
	content: '';
	clear: both;
	display: table;
}

.blog-sidebar .widget-tags ul{
	list-style-type: none;
	margin-left: 0;
}

.blog-sidebar .widget-tags ul > li{
	float: left;
	margin-bottom: 13px;
}

.blog-sidebar .widget-tags ul > li > a{
	border: 1px solid #2a84ae;
	margin-right: 5px;
	padding: 5px 10px;
	font-size: 12px;
	color: #ffffff ;
	background: #3f93b9;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.blog-sidebar .widget-tags ul > li:first-child > a{
	padding: 5px 10px;
}

.blog-sidebar .widget-tags ul > li > a:hover{
	border-color: #dddddd;
	color: #3f93b9;
	text-decoration: none;
	background: transparent;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.blog-sidebar .widget-tags ul > li > a:before{
	content: "";
	margin-left: 0;
	display: inline-block;
	width: 0;
}

.blog-sidebar .widget .dropdown-menu{
	margin-top: -1px;
}

.blog-sidebar .widget .dropdown-menu a:before{
	content: "";
	margin-left: 0;
	display: inline-block;
	width: 0;
}

.blog-sidebar .widget .dropdown-menu > li > a{
	padding: 8px 15px;
}

.blog-sidebar .widget .dropdown-menu > li:first-child > a{
	padding: 8px 15px;
}

.blog-sidebar .widget .dropdown-menu > li:last-child > a{
	border-bottom: none;
}

.sitemap{
	font-size: 12px;
}

.sitemap h3{
	font-size: 20px;
	line-height: 20px;
	color: #34495E;
	font-weight: 200;
	display:inline-block;
	padding : 0 10px 0 0;
	margin-top: 10px;
	margin-bottom: -6px;
}

.sitemap .widget .box{
	border: 1px solid #eee;
	height: 100px;
	width: 100px;
	margin-bottom: 20px;
	margin-left: 10px; 
	margin-right
}

.sitemap .widget ul{
	list-style-type: none;
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sitemap .widget:after{
	display: table;
	content: "";
}

.sitemap .widget ul > li > a:before{
	content: "\f101 ";
	font-family: FontAwesome;
	margin-left: 0;
	display: inline-block;
	width: 1.2em;
	color: #666666;
}

.sitemap .widget ul > li > a{
	display: block;
	border-bottom: 1px solid #f2f2f2;
	padding: 6px 0;
}

.sitemap .widget ul > li:first-child > a{
	padding-top: 0;
}

.sitemap .widget .featured-post-content h5{
	font-size: 12px;
	line-height: 13px;
	font-weight: 400;
}

.sitemap .widget ul.thumbnails > li,
.sitemap .widget ul.thumbnails > li > a{
	padding: 0;
	margin: 0;
}

.sitemap .widget ul.thumbnails > li > a:before {
	content: "";
}

.sitemap .widget ul.thumbnails > li > a{
	border: 1px solid #dddddd;
}

.sitemap .widget ul.thumbnails > li > a:hover{
	border: 1px solid #3f93b9;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.sitemap .widget ul.thumbnails > li > a img{
	width: auto;
	height: auto;
}


.sitemap .widget.widget-list > ul > li{
	display: block;
	border-bottom: 1px solid #f2f2f2;
	padding: 6px 0;
}

.sitemap .widget.widget-list > ul > li > a{
	display: inline;
	border-bottom: none;
	padding: 0;
	font-size: 12px;
}

.sitemap .widget.widget-list > ul > li:first-child,
.sitemap .widget.widget-list > ul > li:first-child > a{
	padding-top: 0;
}

.vid,.iframe-youtube,.iframe-vimeo,.iframe-dailymotion,
.iframe-yahoo,.iframe-bliptv,.iframe-veoh,.iframe-viddler{
	border: 0;
}

/* single */
.author-name{
	color: #2C3E50;
	text-decoration: none;
}

.author-name:hover{
	color: #2C3E50;
	text-decoration: none;
	border-bottom: 1px dotted #2C3E50;
}

.author-bio{
	min-height: 60px;
	display: block;
}

.author-bio:before,
.author-bio:after{
	display: table;
	content: '';
}

.author-bio img{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	margin-right: 10px;
	float: left;
}

.author-bio span{
	vertical-align: top;
	display: inline;
}

.author-bio strong{
	padding-bottom: 10px;
}

.author-bio span:after,
.author-bio span:before{
	display: table;
	content: "";
}

.author-title h3,
.author-title h3 a{
	margin-bottom: 0;
	vertical-align: center;
}

.post-thumbnail{
	width: auto;
	height: auto;
	margin-bottom: 20px;
}

.post-thumbnail:after{
	display: table;
	content: "";
}

.post-meta{
	list-style-type: none;
	margin-left: 0;
}

.post-meta li{
	border-bottom: 1px solid #cccccc;
	padding: 8px 0;
}

.post-meta li:first-child{
	border-top: 1px solid #cccccc;
}

.post-meta li > i[class^="icon-"],
.post-meta li > i[class*="icon-"]{
	font-size: 13px;
	margin-right: 5px;
}

.meta-date{
	display:block;
	margin-top: -20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.meta-date:after{
	display:table;
	content: "";
}

.meta-date span[class^="label"],
.meta-date span[class*="label"],
.meta-date span[class^="label"] a,
.meta-date span[class*="label"] a{
	font-size: 9px;
	text-shadow: none;
	font-weight: 400;
	color: #ffffff;
}

.meta-date span[class^="label"]:hover,
.meta-date span[class*="label"]:hover{
	color: #eeeeee;
	background: #3498DB;
}

.meta-date span[class^="label"] a:hover,
.meta-date span[class*="label"] a:hover {
	text-decoration: none;
}


/* comment */
.comment{
	margin-top: 0px;
	padding-bottom: 10px;
}

.comment h3{
	font-size: 17px;
	line-height: 19px;
	font-weight: 600;
	color: #555;
	margin: 30px 0;
}

.comment ul.comments{
	list-style-type: none;
	margin-left: 0;
}

.comment img{
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
	filter: Alpha(opacity=100);
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.post-comments{
	border: 1px solid #eff0f2;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	/*background: #5996b2;*/
	background: #eff0f2;
	color: #2a84ae;
}

.comment .meta {
	font: 12px 'Open Sans', serif;
	color: #475d68;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px dotted #d9d9d9;
}

.comment .meta a{
	color: #3f93b9;
}

.comment .meta a:hover{
	color: #2a84ae;
}

.comment ul.comments ul{
	list-style-type: none;
	margin-left: 100px;
}

.comment label:before{
	clear: both;
}

.comment label{
	margin-top: 15px;
}

.comment .textarea{
	resize: none !important;
	margin-bottom: 15px;
}

.comment .textarea:after{
	clear: both;
}

.coment form{
	margin: 30px 0;
}
 
.navigation{
    clear:both; 
    margin: 0 0 40px; 
    position:relative; 
    font-size:12px;
}

.navigation span, .navigation a{
    margin:5px 5px 20px 0; 
    padding:5px 10px; 
    text-decoration:none; 
    width:auto; 
    color:#fff; 
    background:#3f93b9;
    transition: background 0.1s;
    -moz-transition: background 0.1s;
    -webkit-transition: background 0.1s;
    -o-transition: background 0.1s;
}

.navigation a:hover {
    color:#ffffff ;
    background:#2980b9;
}

.navigation .current{
    color:#ffffff ;
    background:#2980b9;
}

/* contact */
.contact h3{
	text-transform: uppercase;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea,
.coment input[type="text"],
.coment input[type="email"],
.coment textarea,
.confirm input[type="text"],
.confirm input[type="email"],
.confirm textarea{
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px;
	resize: none;
	background: #eff0f2;
	-webkit-box-shadow: 0 0 1px 2px #eff0f2;
     -moz-box-shadow: 0 0 1px 2px #eff0f2; 
          box-shadow: 0 0 1px 2px #eff0f2;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus,
.coment input[type="text"]:focus,
.coment input[type="email"]:focus,
.coment textarea:focus,
.confirm input[type="text"]:focus,
.confirm input[type="email"]:focus,
.confirm textarea:focus{
	color: #3f93b9;
	-webkit-box-shadow: 0 0 1px 2px #3f93b9 !important; 
     -moz-box-shadow: 0 0 1px 2px #3f93b9 !important;
          box-shadow: 0 0 1px 2px #3f93b9 !important;
	outline: none;
}

.contact textarea,
.coment textarea{
	padding: 10px;
}

.contact input[type="text"],
.contact input[type="email"]{
	height: 46px;
	padding: 10px
}

.confirm input[type="text"],
.confirm input[type="email"]{
	height: 35px;
	padding: 10px;
}

.coment input[type="text"],
.coment input[type="email"]{
	height: 35px;
	padding: 10px;
	margin-right: 5px;
}

#maps{
	width: 100%;
	height: 250px;
	padding: 20px 0;
}

#maps img{
	max-width:none;
}

/* galery */

ul.thumbnails li.span6:nth-child(2n + 3),
div.thumbnails div.span6:nth-child(2n + 3){
	margin-left:0px;
	clear:both;
}

ul.thumbnails li.span4:nth-child(3n + 4),
div.thumbnails div.span4:nth-child(3n + 4) {
	margin-left : 0px;
	clear:both;
}

ul.thumbnails li.span3:nth-child(4n + 5),
div.thumbnails div.span3:nth-child(4n + 5) {
	margin-left : 0px;
	clear:both;
}

ul.thumbnails li.span2:nth-child(6n + 7),
div.thumbnails div.span2:nth-child(6n + 7){
	margin-left:0px;
	clear:both;
}

ul.thumbnails li.span12 + li,
div.thumbnails div.span12 + div  {
	margin-left : 0px;
	clear:both;
}


.photo-galery{
	position: static;
}

.galery-photo .thumbnail{
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.galery-photo .thumbnail:hover{
	box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;	
}

.galery-photo p{
	border: 1px solid #dddddd;
	padding: 10px;
	border-top: none;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.galery-photo li:hover > p{
	border: 1px solid #3f93b9;
	border-top: none;
}

.galery-photo p:hover{
	border: 1px solid #dddddd !important;
	border-top: none !important;
}

#photo {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#photo li {
	width: 439px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	/*display: none;*/ 
	cursor: pointer;
	padding: 4px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#photo li:hover{
	border: 1px solid #3f93b9;
}

#photo li.inactive {
	opacity: 0;
}

#photo li img {
	display: block;
	width: 100%;
	height: auto;
}

#photo li p {
	color: #666;
	font-size: 12px;
	margin: 7px 0 0 7px;
	text-align: center;
}

#photo a li:nth-child(3n) {
	height: 175px;
}

#photo a li:nth-child(4n-3) {
	padding-bottom: 30px;
}

#photo a li:nth-child(5n) {
	height: 250px;
}

.fancybox-title {
 text-align: center;
}

.galery .thumbnail{
	border-radius: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	border-color: #eee;
}

.galery .thumbnail > .thumbnail-head{
	background: #ffffff;
	padding: 15px 15px;
	text-align: center;
}

.galery .thumbnail > .thumbnail-head:after{
	display: table;
	content: "";
}

.galery .thumbnail > .thumbnail-head > h2{
	text-transform: capitalize;
	font-size: 13px;
	line-height: 14px;
	padding: 0;
	margin: 0;
	font-weight: 600;
}

.galery .thumbnail > .thumbnail-body{
	background: #eff0f2;
	height: 200px;
	padding-top: 20px;
}

.galery .thumbnail > .thumbnail-body:after{
	display:table;
	content: "";
}

.galery .thumbnail > .thumbnail-body > .wrapper-image{
	width: 180px;
	height: 170px;
	border-radius: 100%;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #ffffff;
	padding-top: 10px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.galery .thumbnail > .thumbnail-body > .wrapper-image > .image-preview{
	width: 160px;
	height: 157px;
	border-radius: 100%;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-webkit-box-shadow:0 0 0 20px rgba(255,255,255,0.2), inset 0 2px 4px rgba(0,0,0,0.15);
	-moz-box-shadow:0 0 0 20px rgba(255,255,255,0.2), inset 0 2px 4px rgba(0,0,0,0.15);
	box-shadow:0 0 0 20px rgba(255,255,255,0.2), inset 0 2px 4px rgba(0,0,0,0.15);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #fff;
	padding-top: 2px;
}

.galery .thumbnail > .thumbnail-body > .wrapper-image > .image-preview img{
	border-radius: 100%;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

.galery .thumbnail > .thumbnail-footer{
	font-size:12px;
	padding: 8px 15px;
	text-align: right;
	text-transform: capitalize;
}

.galery .thumbnail > .thumbnail-body:hover > .wrapper-image{
	margin-top: -20px;
	width: 100%;
	height: 220px;
	border-radius: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.galery .thumbnail > .thumbnail-body:hover > .wrapper-image > .image-preview,
.galery .thumbnail > .thumbnail-body:hover > .wrapper-image > .image-preview img{
	width: 100%;
	height: 100%;
	border-radius: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.overflow-hidden{
	overflow: hidden;
}

span.overflow-hidden{
	display: block;
}

.galery .thumbnail > .thumbnail-body:hover > .wrapper-image > .image-preview img {
	border-radius: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background:transparent;
	-webkit-transform: scale(1.2) rotate(8deg);
	-moz-transform: scale(1.2) rotate(8deg);
	-o-transform: scale(1.0) rotate(8deg);
	-ms-transform: scale(1.2) rotate(8deg);
	transform: scale(1.2) rotate(8deg);
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
} 


.galery .thumbnail > .thumbnail-body-rotate{
	background: #eff0f2;
	height: 200px;
	padding-top: 20px;
}

.galery .thumbnail > .thumbnail-body-rotate:after{
	display:table;
	content: "";
}

.galery .thumbnail > .thumbnail-body-rotate > .wrapper-image{
	width: 180px;
	height: 170px;
	border-radius: 100%;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #ffffff;
	padding-top: 10px;
}

.galery .thumbnail > .thumbnail-body-rotate > .wrapper-image > .image-preview{
	width: 160px;
	height: 157px;
	border-radius: 100%;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-webkit-box-shadow:0 0 0 20px rgba(255,255,255,0.2), inset 0 2px 4px rgba(0,0,0,0.15);
	-moz-box-shadow:0 0 0 20px rgba(255,255,255,0.2), inset 0 2px 4px rgba(0,0,0,0.15);
	box-shadow:0 0 0 20px rgba(255,255,255,0.2), inset 0 2px 4px rgba(0,0,0,0.15);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #fff;
	padding-top: 2px;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	overflow: hidden;
}

.galery .thumbnail > .thumbnail-body-rotate > .wrapper-image > .image-preview img{
	width: auto;
	height: auto;
	position: absolute;
	display: block;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.galery .thumbnail > .thumbnail-body-rotate > .wrapper-image > .image-preview:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
} 

/* error page */
.errorpage{
	padding: 10px 0;
}

.errorpage h1{
	font-size: 250px;
	line-height: 200px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}

.errorpage h2{
	color: #999999;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}


/*
	==================
	[7. FOOTER]
	==================
*/
#footer{
	margin-top: -90px;
	padding-top: 110px;
	width: 100%;
	position: relative;
	z-index: 1;
	min-height: 200px;
	background: #64a5c4 url(../img/bg.png) repeat center top;
}

.footer-widget{
	font-size: 12px;
}

.footer-widget .widget{
	margin-bottom: 30px;
}

.footer-widget .widget h3{
	margin-top: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	padding: 8px 0;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.footer-widget .widget ul{
	list-style-type: none;
	margin-left: 3px;
}

.footer-widget .widget:after{
	display: table;
	content: "";
}

.footer-widget .widget ul > li > a:before{
	content: "\f101 ";
	font-family: FontAwesome;
	margin-left: 0;
	display: inline-block;
	width: 1.2em;
	color: #ffffff;
}

.footer-widget .widget ul > li > a{
	color: #475d68;
	display: block;
	border-bottom: 1px solid #5f92ab;
	padding: 8px 0;
}

.footer-widget .widget ul > li > a:hover{
	color: #5e737d;
}

.footer-widget .widget ul > li:first-child > a{
	padding-top: 0;
}

.footer-widget .widget .featured-post-content h5,
.footer-widget .widget .featured-post-content h3{
	font-size: 12px;
	line-height: 13px;
	font-weight: 400;
}

.footer-widget .widget .featured-post-content a{
	color: #475d68;
}

.footer-widget .widget .featured-post-content a:hover{
	color: #5e737d;
}

.footer-widget .widget .featured-post-content small,
.footer-widget .widget .featured-post-content i.icon-comments{
	color: #eee;
}

.footer-widget .column-posts{
	border-bottom-color: #5f92ab;
}

.footer-widget .widget-tags:after{
	content: '';
	clear: both;
	display: table;
}

.footer-widget .widget-tags ul{
	list-style-type: none;
	margin-left: 0;
}

.footer-widget .widget-tags ul > li{
	float: left;
	margin-bottom: 13px;
}

.footer-widget .widget-tags ul > li > a{
	border: 1px solid #2a84ae;
	margin-right: 5px;
	padding: 5px 10px;
	font-size: 12px;
	color: #ffffff ;
	background: #3f93b9;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.footer-widget .widget-tags ul > li:first-child > a{
	padding: 5px 10px;
}

.footer-widget .widget-tags ul > li > a:hover{
	border-color: #dddddd;
	color: #ffffff;
	text-decoration: none;
	background: #2a84ae;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.footer-widget .widget-tags ul > li > a:before{
	content: "";
	margin-left: 0;
	display: inline-block;
	width: 0;
}

#copyright{
	padding: 10px 0;
	border-top: 1px solid #5f92ab;
	color: #eeeeee;
	text-transform: uppercase;
	font-size: 12px;
}

.c-left{
	float: left;
}

.c-right{
	float: right;
}

#copyright ul{
	margin-left: 0;
	list-style-type: none;
}

#copyright ul > li{
	float: left;
}

#copyright ul > li > a{
	padding: 5px 0;
	margin: 0 10px;
	color: #eeeeee;
	text-transform: uppercase;
}

#copyright ul > li > a:hover{
	color: #475d68;
}



/*
	==================
	[8. RESPONSIVE]
	==================
*/
@media (max-width: 480px){

	body{
		padding: 0;
		margin: 0;
	}

	#topbar .top-bar{
		float:none;
		margin-top: 10px;
	}
	
	#topbar .top-bar > *{
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	
	#header{
		padding: 20px 0 0;
	}
	
	.logo{
		float: none;
		display: table;
		margin: -30px auto 20px;
	}

	.search-form{
		float: none;
		display: table;
		margin: 0 auto;
	}
	
	.search-form .input-append{
		margin-right: -10px;
	}
	
	.navbar .btn-navbar {
		margin-top: 15px !important;
		margin-right: 0px !important;
		color: #ffffff;
		text-shadow: none;
		background: #2a84ae;
		border-color: transparent transparent transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		  box-shadow: none;
	}
		
	#masthead, #masthead.carousel {
		margin-bottom: 0px;
	}

	
}

@media (min-width: 480px) and (max-width: 767px){

	body{
		padding: 0;
		margin: 0;
	}
	
	#topbar .top-bar{
		float:none;
		margin-top: 10px;
	}
	
	#topbar .top-bar > *{
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	
	#header{
		padding: 20px 0 0;
	}
	
	.logo{
		float: none;
		display: table;
		margin: -30px auto 20px;
	}

	.search-form{
		float: none;
		display: table;
		margin: 0 auto;
	}
	
	.search-form .input-append{
		margin-right: -10px;
	}
	
	.navbar .btn-navbar {
		margin-top: 15px !important;
		margin-right: 0px !important;
		color: #ffffff;
		text-shadow: none;
		background: #2a84ae;
		border-color: transparent transparent transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		  box-shadow: none;
	}
		
	#masthead, #masthead .carousel {
		margin-bottom: 0px;
	}
}

@media (max-width: 979px){
	
	body{
		padding: 0;
		margin: 0;
	}
	
	.navbar .btn-navbar {
		margin-top: 10px;
		margin-right: 12px;
		color: #ffffff;
		text-shadow: none;
		background: #2a84ae;
		border-color: transparent transparent transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		  box-shadow: none;
	}
	
	.navbar .btn-navbar:hover,
	.navbar .btn-navbar:focus,
	.navbar .btn-navbar:active{
		background: #1a84ae;
	}
	
	.navbar .btn-navbar .icon-bar {
		background-color: #ffffff;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	.nav-collapse .nav {
		float: none;
		margin: 10px 12px 10px;
	}
	
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		border-bottom: none;
		border-right: none;
		font-weight: 400;
		color: #ffffff;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
	}
	
	.nav-collapse .dropdown-menu a:hover {
		background: #2a84ae;
		color: #eeeeee;
	}

	

	.nav-collapse .dropdown-menu .subdropdown-menu {
	    position: static;
	    top: auto;
	    left: auto;
	    display: none;
	    float: none;
	    max-width: none;
	    padding: 0;
	    margin: 0 25px;
	    background-color: transparent;
	    border: none;
	    -webkit-border-radius: 0;
	       -moz-border-radius: 0;
	            border-radius: 0;
	    -webkit-box-shadow: none;
	       -moz-box-shadow: none;
	            box-shadow: none;
	}

	.nav-collapse .dropdown-menu li .subdropdown-menu {
	    visibility: visible;
	    display: block;
	}

	.nav-collapse .pull-right > li > .dropdown-menu .dropdown-menu, 
	.nav-collapse .nav > li > .dropdown-menu.pull-right .dropdown-menu {
	    margin: 0 25px;
	}

	.nav-collapse .dropdown-menu .subdropdown-menu:before {
	    display: none;
	}

	.nav-collapse .dropdown-menu .subdropdown-menu:after {
	   display: none;
	}
		
	#masthead, #masthead .carousel {
		margin-bottom: 0px;
	}
	
	#masthead .carousel-caption {
		margin: 0px -20px 0 0;
		float: right;
	}

	.flash-news{
		padding: 15px 20px 3px;
	}
		
	.c-left{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
	.c-left:after{
		display: table;
		content: "";
	}

	.c-right{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
	#copyright .c-right > *{
		margin: 10px auto;
		display: table;
	}
	
	.c-right:after{
		display: table;
		content: "";
	}

}

@media (min-width: 979px){
	body{
		padding-top: 10px;
		margin:0;
	}
	
	
}


/*
  Rules for resolutions between 768 and 979px
*/

@media (max-width: 979px) and (min-width: 768px) {

    .navbar .container {
        width: 724px!important;
    }

}

/*
  Rules for resolutions below 768px
*/

@media (max-width: 767px) {
    .offset0 {
        margin-left: auto !important;
    }
    .spanwidget {
        width: auto !important;
    }
    /* padding on screen sides */
    .container {
        width:90%!important;
    }

    .navbar-inner {
        padding:0 0 10px 0px!important;
    }

    .btn.btn-navbar {
        margin-top:20px;
    }

    /* separate span* classes horizontally */
    [class*="span"] {
        margin-bottom:20px;
    }
}


@media (min-width: 1200px) {
    .row {
        margin-left: -20px;
        *zoom: 1;
    }
    .row:before,
    .row:after {
        display: table;
        content: "";
    }
    .row:after {
        clear: both;
    }
    [class*="span"] {
        float: left;
        margin-left: 20px;
    }
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 940px;
    }
    .span12 {
        width: 940px;
    }
    .span11 {
        width: 860px;
    }
    .span10 {
        width: 780px;
    }
    .span9 {
        width: 700px;
    }
    .span8 {
        width: 620px;
    }
    .span7 {
        width: 540px;
    }
    .span6 {
        width: 460px;
    }
    .span5 {
        width: 380px;
    }
    .span4 {
        width: 300px;
    }
    .span3 {
        width: 220px;
    }
    .span2 {
        width: 140px;
    }
    .span1 {
        width: 60px;
    }
    .offset12 {
        margin-left: 980px;
    }
    .offset11 {
        margin-left: 900px;
    }
    .offset10 {
        margin-left: 820px;
    }
    .offset9 {
        margin-left: 740px;
    }
    .offset8 {
        margin-left: 660px;
    }
    .offset7 {
        margin-left: 580px;
    }
    .offset6 {
        margin-left: 500px;
    }
    .offset5 {
        margin-left: 420px;
    }
    .offset4 {
        margin-left: 340px;
    }
    .offset3 {
        margin-left: 260px;
    }
    .offset2 {
        margin-left: 180px;
    }
    .offset1 {
        margin-left: 100px;
    }
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
    .row-fluid:before,
    .row-fluid:after {
        display: table;
        content: "";
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 28px;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
    .row-fluid .span12 {
        width: 99.99999998999999%;
        *width: 99.94680850063828%;
    }
    .row-fluid .span11 {
        width: 91.489361693%;
        *width: 91.4361702036383%;
    }
    .row-fluid .span10 {
        width: 82.97872339599999%;
        *width: 82.92553190663828%;
    }
    .row-fluid .span9 {
        width: 74.468085099%;
        *width: 74.4148936096383%;
    }
    .row-fluid .span8 {
        width: 65.95744680199999%;
        *width: 65.90425531263828%;
    }
    .row-fluid .span7 {
        width: 57.446808505%;
        *width: 57.3936170156383%;
    }
    .row-fluid .span6 {
        width: 48.93617020799999%;
        *width: 48.88297871863829%;
    }
    .row-fluid .span5 {
        width: 40.425531911%;
        *width: 40.3723404216383%;
    }
    .row-fluid .span4 {
        width: 31.914893614%;
        *width: 31.8617021246383%;
    }
    .row-fluid .span3 {
        width: 23.404255317%;
        *width: 23.3510638276383%;
    }
    .row-fluid .span2 {
        width: 14.89361702%;
        *width: 14.8404255306383%;
    }
    .row-fluid .span1 {
        width: 6.382978723%;
        *width: 6.329787233638298%;
    }
    input,
    textarea,
    .uneditable-input {
        margin-left: 0;
    }
    input.span12,
    textarea.span12,
    .uneditable-input.span12 {
        width: 930px;
    }
    input.span11,
    textarea.span11,
    .uneditable-input.span11 {
        width: 850px;
    }
    input.span10,
    textarea.span10,
    .uneditable-input.span10 {
        width: 770px;
    }
    input.span9,
    textarea.span9,
    .uneditable-input.span9 {
        width: 690px;
    }
    input.span8,
    textarea.span8,
    .uneditable-input.span8 {
        width: 610px;
    }
    input.span7,
    textarea.span7,
    .uneditable-input.span7 {
        width: 530px;
    }
    input.span6,
    textarea.span6,
    .uneditable-input.span6 {
        width: 450px;
    }
    input.span5,
    textarea.span5,
    .uneditable-input.span5 {
        width: 370px;
    }
    input.span4,
    textarea.span4,
    .uneditable-input.span4 {
        width: 290px;
    }
    input.span3,
    textarea.span3,
    .uneditable-input.span3 {
        width: 210px;
    }
    input.span2,
    textarea.span2,
    .uneditable-input.span2 {
        width: 130px;
    }
    input.span1,
    textarea.span1,
    .uneditable-input.span1 {
        width: 50px;
    }
    .thumbnails {
        margin-left: -20px;
    }
    .thumbnails > li {
        margin-left: 20px;
    }
    .row-fluid .thumbnails {
        margin-left: 0;
    }
}
