/*
  @author     : Pipin Irwandi
  @version    : v1.0
  @date-create  : 1/15/2014
  @last-update  : 

*/
.progress-bar-info{
  background-color: #428bca !important;
}
.pav-megamenu{
  position: relative; 
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #003366 !important;
  border-color: #003366 !important;
  cursor: default;
}

.pav-megamenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.pav-megamenu .mega-group .caret {
  display: none;
}
.pav-megamenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5;
}
.pav-megamenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
}
.pav-megamenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px;
}
.pav-megamenu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.pav-megamenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
}
.megamenu .menu-icon{
     background-position: left center !important;
    display: block;
    padding-left: 30px;
  }

.pav-megamenu .dropdown-menu .row {
  margin-bottom:  15px;
}

.widget-product-list .image{
  float: left;
  margin-right: 10px;
  border: 1px solid #e7e7e7;
}
.widget-banner {
   border: 1px solid #e7e7e7;
}
.widget-banner .w-banner{
 margin: 6px 10px; 
  float: left;
} 
.pavo-widget .menu-title{
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.w-product {
   margin-bottom: 15px;
}

.w-product:last-child {
   margin-bottom: 0;
}
.widget-product-list .name a {
  font-size:  13px;
  font-weight: bold;

}
.widget-product-list .price {
  font-size:  15px;
   color: #C83A3A;
}
.widget-product-list .price-old {
  text-decoration: line-through;
  color: #292929;
   font-size: 12px;
}
.hidden-title .menu-title{
   display:  none;
}

/*Class Sosial Media*/
.social{
  font-size:16px;
  margin: 5px 0px;
}

.social i{

  display:inline-block;
  box-shadow:inset 0px 0px 1px #333;
  height:25px;
  width:25px;
  line-height:25px;
  margin:0px 5px 0px 0px;
  border-radius:3px;
  color:#fff;
  -webkit-transition:background 1s ease;
  -moz-transition:background 1s ease;
  -o-transition:background 1s ease;
  transition:background 1s ease;
  text-align:center;
}

.social i.fa-facebook{
  background:#3c5b9b;
}

.social i.fa-twitter{
  background:#2daae1;
}

.social i.fa-google-plus{
  background:#f63e28;
}

.social i.fa-pinterest{
  background:#cb2027;
}

.social i.fa-linkedin{
  background:#0173b2;
}

.social i:hover{
  background:#000;
  -webkit-transition:background 1s ease;
  -moz-transition:background 1s ease;
  -o-transition:background 1s ease;
  transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
  color:#fff;
  text-decoration:none;
}
hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 2px solid #299400;
}

.wizard {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.wizard:before,
.wizard:after {
  display: table;
  line-height: 0;
  content: "";
}

.wizard:after {
  clear: both;
}

.wizard ul {
  width: 4000px;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.wizard ul.previous-disabled li.complete {
  cursor: default;
}

.wizard ul.previous-disabled li.complete:hover {
  color: #468847;
  cursor: default;
  background: #f3f4f5;
}

.wizard ul.previous-disabled li.complete:hover .chevron:before {
  border-left-color: #f3f4f5;
}

.wizard ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  z-index: 1;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.wizard ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #ededed;
  content: "";
}

.wizard ul li.complete {
  color: #003366;
  background: #f3f4f5;
}

.wizard ul li.complete:hover {
  cursor: pointer;
  background: #e7eff8;
}

.wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #e7eff8;
}

.wizard ul li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}

.wizard ul li.active {
  color: #3a87ad;
  background: #f1f6fc;
}

.wizard ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}

.wizard ul li .badge {
  margin-right: 8px;
}

.wizard ul li:first-child {
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.wizard .actions {
  position: absolute;
  right: 0;
  z-index: 1000;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 46px;
  vertical-align: middle;
  background-color: #e5e5e5;
  border-left: 1px solid #d4d4d4;
}

.wizard .actions a {
  margin-right: 8px;
  font-size: 12px;
  line-height: 45px;
}

.wizard .actions .btn-prev i {
  margin-right: 5px;
}

.wizard .actions .btn-next i {
  margin-left: 5px;
}


.step-content {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D4D4D4;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.step-content .step-pane {
  display: none;
}

.step-content .active {
  display: block;
}

.step-content .active .btn-group .active {
  display: inline-block;
}